
Palette.xcodeproj/project.xcworkspace/xcuserdata/qd-zc.xcuserdatad/UserInterfaceState.xcuserstate
Palette.xcodeproj/xcuserdata/qd-zc.xcuserdatad/xcschemes/Palette.xcscheme
Palette.xcodeproj/xcuserdata/qd-zc.xcuserdatad/xcschemes/xcschememanagement.plist
